@import url('https://code.highcharts.com/css/highcharts.css');

#gradient-0 stop {
	stop-color: red;
}

#gradient-0 stop[offset='0'] {
	stop-opacity: 0.75;
}

#gradient-0 stop[offset='1'] {
	stop-opacity: 0;
}

.highcharts-grid-line:nth-child(6) {
	fill: url(#gradient-0) !important;
}
